[2020-06-21 14:25] SimoTod opened #1 "Missing readme"
Readme needs to be populated

[2020-06-21 14:27] SimoTod opened #2 "Use Alpine.clone to avoid existing component being reset when navigating using the history."
When user click back, we want to show the previous state of all the Alpine components rather than reinitialise them.

[2020-06-21 14:29] SimoTod opened #3 "Figure out if the plugin is testable somehow"
As it says on the tin. It would be good to be able to write tests although it seems challenging because the way turbolinks works.

[2020-06-21 14:30] SimoTod opened #4 "Add github action to publish the library on npm when a new version is tagged."
It needs to update the version in package json and submit to npm

[2020-07-17 09:17] tanthammar opened #6 "How can I keep the cdn link updated"
Hi.
Thank you for this fix.
How can I keep the cdn link updated.
Currently I am using this in my app
[code]
But I see you've made commits since I got that link from you in our discord chat.

//Tina

[2020-07-17 09:40] HugoDF commented on #6
I think you can just omit the `@` and it will fetch the latest version

[code]

Note that you probably don't want to do the above in production (and that I haven't tested it 😁)

[2020-07-17 09:55] SimoTod commented on #6
the additional commit is a dev fix, it won't affect the cdn output so the previous link is still okay.
If you want, you can use
<script src="https://cdn.jsdelivr.net/gh/SimoTod/alpine-turbolinks-adapter@master/dist/alpine-turbolinks-adapter.min.js" defer></script> in dev to get the latest version (although the cdn has a 24h delay).

I should be able to move the library under the alpine namespace a

[2020-07-18 07:16] tanthammar commented on #6
Hi, no, it is still in dev. And I am fine with the link as it is, no stress. :)

[2020-07-18 08:35] SimoTod commented on #6
Cool, I'll let you know once I tag a stable release ready for prod.

On Sat, 18 Jul 2020, 08:16 TinaH, <notifications@github.com> wrote:

[2020-07-18 10:42] SimoTod commented on #6
@tanthammar
I've transferred the repo to the alpinejs namespace so the link for the alpha version has changed to
`https://cdn.jsdelivr.net/gh/alpinejs/alpine-turbolinks-adapter@eac088b4067e1a8d8ea21b5182458b8afb9435ac/dist/alpine-turbolinks-adapter.min.js`
I believe the old link will still be available for about 24h due to the CDN but you need to update it on Monday when you are back to work.

[2020-07-18 10:42] #6 closed

[2020-07-18 14:46] SimoTod commented on #4
See e6b1ea5086a8208ddaaeed71cfd7c0edaf2443c0

[2020-07-18 14:46] #4 closed

[2020-07-20 10:30] HugoDF commented on #3
Would it be worth using something like Cypress or other E2E testing solution?

Dunno how much sense unit testing the adapter makes, but having a couple of use cases running against a some HTML files would be good value/effort

[2020-07-20 10:54] SimoTod commented on #3
Yeah, I think it would be good to test the use case that the library is supposed to solve.
I had a first go with puppeteer but it just doesn't work and I don't understand why, lol. (https://github.com/alpinejs/alpine-turbolinks-adapter/pull/new/tests).

[2020-07-20 11:54] ryangjchandler commented on #3
I've got a feeling Cypress is going to be better for this than a Puppeteer setup. Let me know if you need any help.

[2020-07-20 12:23] SimoTod commented on #3
yeah, I just picked a random one since I don't have any experience with that. I'll try cypress. 👍

[2020-07-20 12:27] ryangjchandler commented on #3
Let us know if you need any help :)

[2020-07-20 12:40] SimoTod commented on #3
@ryangjchandler is there a way to run cypress without relying on the fact that I have a browser installed on my machine (like puppeteer does)?

[2020-07-20 12:47] ryangjchandler commented on #3
@SimoTod most browser test suites need an actual browser instance to run. Cypress has a good GitHub Action though which bootstraps the environment etc.

[2020-07-20 13:22] SimoTod commented on #3
Cool, it seems that cypress from terminal runs using electron by default. I don't think I need the dashboard so I'll just use a standard test action for now (https://github.com/alpinejs/alpine-turbolinks-adapter/actions/runs/175728156). Thanks for your advice, cypress seems way easier than puppeteer. 👍

[2020-07-20 14:30] SimoTod commented on #3
Cypress seems to do the job. Thanks everybody.

[2020-07-20 14:30] #3 closed

[2020-07-23 16:08] SimoTod opened #8 "Add npm instructions"

[2020-07-25 17:44] SimoTod opened #9 "Components hidden by default, such as mobile navigation menus, get cached and cause flickering when navigating between pages."
In a scenario where a page has a component menu using `{show: false}` and `x-show="show"`, when clicking on a link from that menu, turbolinks caches the page with the menu visible. This cause flickering when visiting the page afterwards unless disabling turbolinks cache.
For example page A -> navigating to page B (page A is cached with the menu open) -> navigating back to page A (Turbolinks tempor

[2020-07-25 18:09] #1 closed

[2020-08-15 07:12] farhanianz commented on #8
**I was also looking for it..**

[2020-08-15 07:28] SimoTod commented on #8
@farhanianz I'll try to update the readme this weekend.

[2020-08-15 19:01] #8 closed

[2020-08-15 19:02] SimoTod commented on #8
@farhanianz Readme updated

[2020-08-25 01:52] jduff commented on #9
I'm using something like this in my project and can PR it if you think it's a good approach

[code]

This depends on using the `x-cloak` attribute, but that seems to be common practice for cases like this.

[2020-08-25 07:20] SimoTod commented on #9
@jduff It seems to be a sensible approach, thanks for sharing.
Does it work on the very first visit when the page is loaded by the browser or do we also need to cover that case as well?
Happy to accept a PR, we can build on that if we need to.
Can we prefix the custom attribute with `data-alpine-` please?

[2020-08-26 01:39] jduff commented on #9
It doesn't look like it's running on the first page load. I've been trying to get that to work from a `turbolinks:load` event but it looks like Alpine has already run at that point and removed the `x-cloak` attribute. I came across the `deferLoadingAlpine` function [here](https://github.com/alpinejs/alpine/blob/master/src/index.js#L126) which seems to get it to work.

So something like this:

[cod

[2020-08-26 07:40] SimoTod commented on #9
do we need to wait for a turbolinks:load event? I assume it could just run.

deferLoadingAlpine is used by other libraries so I don't think we should just override it.  We need something like
[code]

To be fair, since Alpine waits for the DOM ready events anyway and the javascript engine runs as a single thread, I suspect it could just go inside the init function (https://github.com/alpinejs/alpin

[2020-08-26 12:42] jduff commented on #9
That looks like it could work, I'll put together a PR tonight.

I was using the `turbolinks:load` event as an alternative to `ready`. I think we still want to have it happen after dom ready though, don't we? As far as I can tell `init` is called right away and it's possible the DOM isn't fully loaded yet, or am I missing something here?

I think either way I need to put together a PR and we can co

[2020-08-26 13:39] SimoTod commented on #9
The idea is that the script is defered so init should run before domready but when all the html is there. I guess we can't force user to defer the script (expecially if they create a bundle by themselves).
I'm happy with the deferLoadinAlpine if it works.
Bonus point if we can write a test but it's not a blocker for this PR.

[2020-08-27 13:24] zepfietje opened #12 "Disappearing template loop items"
I'm using this adapter on a Livewire + Alpine project which uses Turbolinks.
Previously, template loop items (`<template x-for="">`) were being duplicated when navigating back and forth.
This adapter resolves that issue. However, it causes other (sibling) template loops to disappear when navigating.

Let me know if there's any specific information we need to debug this issue.

[2020-08-27 13:42] SimoTod commented on #12
Thanks for the bug report.Just to clarify. Are we saying that something like
[code]
will result in the second loop being removed when navigating back to the page?
[code]

[2020-08-27 13:48] zepfietje commented on #12
@SimoTod, thanks for your clear snippets. That's exactly what seems to happen when using the adapter.

I haven't put together a minimal reproducible example though.

[2020-08-27 14:00] SimoTod commented on #12
No worries I'll try to have a look tonight/tomorrow and let you know

[2020-08-27 16:23] SimoTod commented on #12
@zepfietje
I was able to replicate and find the bug (https://github.com/alpinejs/alpine-turbolinks-adapter/commit/705d496108ca8b8b8760bc05e73df5ff2b6e59e3 😄 ).

Before I tag a new release, could you try https://cdn.jsdelivr.net/gh/alpinejs/alpine-turbolinks-adapter@bug/sibling-x-for-disappearing/dist/alpine-turbolinks-adapter.min.js and confirm it resolves your bug please? Thanks.

[2020-08-27 16:32] zepfietje commented on #12
@SimoTod awesome! I can confirm it resolves the bug in my project.

[2020-08-27 18:15] SimoTod commented on #12
Thanks for confirming. I tagged a new version. It's a patch release so if you use the generic CDN link (0.1.x) you won't need to update the link. Since served by a CDN (I don't have control over it), it could take up to 24h to update.

[2020-08-27 18:15] #12 closed

[2020-08-27 21:05] zepfietje commented on #12
@SimoTod, thanks again for the quick fix!

[2020-08-29 12:44] zepfietje opened #16 "x-for elements disappearing after Livewire rerender"
`x-for` elements are no longer rendered after being hidden by a Livewire action.
If you go to https://picci.app/new and toggle the Picci type to "Text" and back to "Date", the date picker `x-for` items are no longer rendered.

I'm not sure what could be the cause of this bug, but I've confirmed it only happens when using the `alpine-turbolinks-adapter`.

[2020-08-29 13:38] SimoTod commented on #16
Hi @zepfietje , it's a bit hard to debug on a remote app where all Javascript is already bundled.
I would expect the adapter to kick in only when you load a new page.
Do you have a simple snippet I can use to replicate? Thanks

[2020-08-29 14:21] zepfietje commented on #16
@SimoTod I've put together a minimal example which shows the bug.
If you enable and disable the `alpine-turbolinks-adapter`, you'll see the bug only occurs when the adapter is installed.

`app/Http/Livewire`
[code]

`resources/views/livewire/example.blade.php`
[code]

[2020-08-29 16:45] SimoTod commented on #16
Thanks @zepfietje
I think I found the problem. Can you test https://cdn.jsdelivr.net/gh/simotod/alpine-turbolinks-adapter@bug/livewire-show/dist/alpine-turbolinks-adapter.min.js and let me know if it fixes that bug?

[2020-08-29 16:53] zepfietje commented on #16
I've tested the fix on both [Picci](https://picci.app) and the example snippets and can confirm it fixes the bug.

Thanks @SimoTod!

[2020-08-29 17:05] SimoTod commented on #16
Thanks again for being such a good beta tester. :)
I've tagged a new patch release. As usual, it will take a bit to go through the CDN but you should be able to see the updated version tomorrow-ish.

[2020-08-29 17:05] #16 closed

[2020-08-29 17:22] zepfietje commented on #16
@SimoTod, strangely the bug is still present after updating to the latest version from npm (`0.1.3`).
The CDN link from the bugfix branch does really fix the issue though. So possibly something went wrong just before releasing the latest version?

[2020-08-29 18:40] SimoTod commented on #16
The cdn link won't work until tomorrow. I tagged a version without merging the fix, then I realised it and I retagged the right veraion (my tagging process automatically updates to npm) but since i visited the link, cdn had already cached the wrong version. If you build the assets yourself or if you use the cdn link from github it should work otherwise you can wait 24h

[2020-08-29 19:17] zepfietje commented on #16
Since I'm using npm and not the CDN link, could you tag a new version so the bugfix also appears on npm?

[2020-08-29 20:26] SimoTod commented on #16
Ah, that's weird. I did unpublish the wrong version before retagging 0.1.3 so it should serve the right file from npm. I'm not at my laptop now, I'll have a look as soon as I can and if needed I'll tag a new version

[2020-08-29 21:42] SimoTod commented on #16
Right, apparently what I was trying to do (unpublish and republish) is not possible anymore(https://blog.npmjs.org/post/77758351673/no-more-npm-publish-f)
I've tagged a new version

[2020-08-30 09:55] zepfietje commented on #16
Thanks, got it all working now!

[2020-09-04 12:33] zepfietje opened #19 "v0.2.0 - x-for loop items disappear"
After upgrading to v0.2.0, I noticed a bug similar to #16.
`x-for` children are no longer rendered after a Livewire rerender.
Similar steps to the other issue description (note: I haven't installed v0.2.0 in production):

I've been able to reproduce the issue using the example I posted earlier for the other issue.
https://github.com/SimoTod/alpine-turbolinks-adapter/issues/16#issuecomment-68329740

[2020-09-04 14:12] SimoTod commented on #19
I don't assume you can defer livewire right? In that case you need to make the library not deferred.
I'll see if there is a better way but that would work for now.

[2020-09-04 16:18] SimoTod commented on #9
@jduff Unfortunatelly the change conflicts with the way Livewire work (Livewire is not deferred and the order of events is not correct).
I've got a new version at https://cdn.jsdelivr.net/gh/simotod/alpine-turbolinks-adapter@fc19881d2dae4c2b8b3fd790383d890f26aa14a8/dist/alpine-turbolinks-adapter.min.js
Do you have any use cases I can use to test it works correctly?
@zepfietje can you confirm it fi

[2020-09-04 17:42] jduff commented on #9
@SimoTod I just gave it a test in my project and it seems to be working correctly. I'm pretty sure the first test I added, https://github.com/SimoTod/alpine-turbolinks-adapter/blob/master/tests/integration/cloak.spec.js#L4, failed before I added the defer loading so if that's passing I think it covers the initial load case that I added the deferloading for.

I ran a quick test in my project with t

[2020-09-04 17:55] SimoTod commented on #9
Yeah, your PR works in normal cases but in a project using Livewire they both tries to defer alpine using an event but they don't work well together. Ready state interactive should trigger before domready (so Alpine starting) but after the whole dom has been downloaded. Hopefully it will serve our purposes. I need to do some cross browsing tests over the weekend but I'm glad it looks like it could

[2020-09-05 13:10] zepfietje commented on #19
Making it not deferred isn't a real solution for me.
I'd like to compile everything into a single `app.js` file and have that one deferred.

[2020-09-05 13:14] zepfietje commented on #9
Seems to fix my issue!

[2020-09-05 16:58] SimoTod commented on #9
Glad it solved it (again). It gets complicated when livewire is involved and I can't have unit testa for that. I still need to check how it behaves in ie11 and edge but I should be able to tag 0.2.1 tomorrow or Monday. 👍

[2020-09-07 11:24] SimoTod commented on #19
Fixed in 0.2.1

[2020-09-07 11:24] #19 closed

[2020-09-07 11:25] SimoTod commented on #9
Closing as it was fixed in 0.2.0

[2020-09-07 11:25] #9 closed

[2020-09-21 18:58] pspeter3 commented on #2
Would you take a Pull Request for this?

[2020-09-21 19:53] SimoTod commented on #2
Yeah, sure. It may need some thinking and discussion though because it might not be the desired behavior.
For example, a sidebar menu, you click on something, a flag is set to true to show the menu then you click on a link to navigate away, when you navigate back you won't expect the sidebar to be open.
What do you think? Maybe we should cache them only if there is a specific attribute.

[2020-09-21 23:00] pspeter3 commented on #2
I actually think in that case the state should be preserved on the back button in that case. I do worry about how it will work with removing Alpine generated DOM nodes.

[2020-09-22 05:50] SimoTod commented on #2
I'm not sure people would agree, if they hit back and a modal was already open, I think they would report it as a bug

[2020-09-25 06:51] bep commented on #2
So, I've been using `data-turbolinks-permanent` to preserve client state across navigation, but I can see how the "back button" would semantically be different than clicking on a link ("get me back to my previous state.") In 99% of the cases I suspect that wold be the correct/expected behaviour, but don't think you could add something like this without a way of opting out of it.

[2020-09-25 06:52] bep opened #22 "IE 11 support"
Note that I would not bother opening this issue if I thought this would be "hard to do", but since Alpine supports (to some extent) IE 11 and I suspect this is about adjusting your Babel config (to turn classes into function), maybe that could be done?

[2020-09-25 07:26] SimoTod commented on #2
yeah, I'm not convinced because stuff like modals and submenus could open when you go back menu if you clicked on a link inside them which feels a bit weird. I'm trying to understand if it's perceived as an issue at the moment before doing anything.
As you said, if I ever add anything will be either an opt-out (data-alpine-no_cache) or maybe even an opt-in mechanism so people don't get errors if t

[2020-09-25 07:33] SimoTod commented on #22
Probably. I don't think we do anything too weird so we probably the final output will be similar and we don't need separate builds like in alpine. I'll have a play over the weekend. Thanks for pointing this out.

[2020-09-27 20:30] SimoTod commented on #22
does https://cdn.jsdelivr.net/gh/simotod/alpine-turbolinks-adapter@73fab37d2d79b39e9c475af67c81fe5e86610692/dist/alpine-turbolinks-adapter.min.js work okay for you?

[2020-09-27 20:36] bep commented on #22
That looks great to me, much appreciated.

[2020-09-27 20:42] #22 closed

[2020-09-27 20:49] SimoTod commented on #22
Thanks for confirming. I've just tagged v0.3.0 containing the patch to support legacy browsers.

[2020-12-22 18:52] pomartel opened #25 "Turbo Drive compatibility"
[Turbo Drive](https://turbo.hotwire.dev/handbook/drive) is set to replace Turbolinks and from what I read they are essentially the same except that Turbo Drive will be able to handle form submission in addition to regular links. I'm hoping the Alpine Turbolinks adapter (or maybe a fork?) can support Turbo Drive. I think a search and replace of "turbolinks" to "turbo" should hopefully be 95% of the

[2020-12-22 19:54] SimoTod commented on #25
Haha. It's probably not to distant from the reality. I haven't looked into it yet but it's probably just a matter of hooking into the right events. I'll post updates here once I have a better idea of the work required

[2020-12-27 02:34] pjo336 commented on #25
I'm goofing around in a lame attempt to get this to work, and it appears you have to change `turbolinks:whatever` to `turbo:whatever` as mentioned, but there is also a call to `event.data.newBody`, which now has become `event.detail.newbody`

I have no clue if that helps, but it seems to have me rolling again 👍

[2020-12-30 08:51] SimoTod commented on #25
Thank you, @pjo336, it's a useful piece of information.

To anyone following this conversation, I think I'll release an upgrade at some point this week (I live in the UK, working for an online retailer shipping around the world and I've been a bit busy with all that Brexit shambles lately).

I was initially thinking of creating 2 branches (1.x supporting Turbolinks and 2.x supporting Turbo Drive)

[2020-12-30 10:09] HugoDF commented on #25
sounds like a single branch/build that supports both will be simpler than having 2 mainline release branches + education piece around that

[2021-01-02 04:42] ChrisZou commented on #25
Any progress on this?

[2021-01-02 07:32] SimoTod commented on #25
I haven't had time to update the library yet. I'll post a message here when the new version has been tagged.

[2021-01-02 10:55] SimoTod commented on #25
Before I tag a new release, can anyone check if https://cdn.jsdelivr.net/gh/SimoTod/alpine-turbolinks-adapter@feature/turbo-support/dist/alpine-turbo-adapter.min.js works as expected in their apps using Turbo, please?

FYI: The library will be renamed soon for consistency but it won't affect your applications.

[2021-01-02 15:47] ChrisZou commented on #25
Hi @SimoTod , I tried with my app and it seems to be working quite well. You can see the [commit here](https://github.com/ChrisZou/geekweibo/commit/8572ed7219252e6739d0f3e1a3c00932395b2eb3). Thank you for this, and let me know if you need more tests.

[2021-01-02 20:45] SimoTod commented on #25
I was trying to publish tonight but the name on npm is already taken by @wusher which I believe is maintaining his own fork. The relevant code is already in master but I need to think about a new name so ignore the readme for now, sorry.

[2021-01-02 21:18] SimoTod commented on #25
Sorted. Please update your CDN link with the one in the readme (please note the npm library has changed as well). Thanks.

[2021-01-02 21:18] #25 closed

[2021-01-02 23:17] wusher commented on #25
My apologies for taking the name. I was playing around with trying to get it working last night. I shouldn't have published and especially not with that name. I don't think I can fully release the package name but I'll try.

[2021-01-02 23:41] SimoTod commented on #25
No worries. I've just added `-drive` to the name so it's not a problem.

[2021-01-04 11:22] bep opened #28 "Issue with data-turbolinks-permanent combined with x-cloak"
I'm not totally sure exactly what triggers this, but the symptoms are clear.

[code]

It seems that the `x-cloak` _some times_ is preserved on navigation (and becomes invisible as styled). The workaround is, obviously, to not use these 2 in combinaion.

[2021-01-04 16:05] SimoTod commented on #28
Thanks for reporting it @bep
I'll have a look soon.
In the meantime, the only workaround is to put those attributes on different divs.

[2021-01-04 17:02] SimoTod commented on #28
@bep Do you have an example to reproduce this issue? I tried with a couple of simple pages but I can't see the bug.
I think I have a potential fix but I would like to write a test to validate it. Thanks

[2021-01-06 19:36] nyrf opened #29 "fail when render status: :unprocessable_entity"
[code]

[code]

`new.html.erb`

[code]

when title is blank and render 422 status,  alpine won't work.

[2021-01-06 19:50] SimoTod commented on #29
Sorry, I'm not a ruby developer but I'm not totally sure this is the right repository. Unless we are saying that it would work as expected with only alpine and without the turbolinks bridge.

By the way, could you post the generated html please? Thanks

[2021-01-07 00:34] nyrf commented on #29
[code]

[2021-01-07 02:36] SimoTod commented on #29
Thanks, I'll have a look in the next few days and see if i can replicate.

[2021-01-07 06:25] nyrf commented on #29
Thanks, i modified https://github.com/SimoTod/alpine-turbo-drive-adapter/blob/9bbfe00ab66656f007a2f8ff3a009212ad9d76f7/src/bridge.js#L89 to ` document.addEventListener('turbo:render', initCallback)` can make it works, I'm not sure if that's the right way.

[2021-01-07 08:37] SimoTod commented on #29
I'll need to have a look. In Turbolinks, render gets called multiple times when you have cached previews which is not the best for Alpine. It seems weird that it calls render but it doesn't call load after maybe I can ask the guys at Turbo.

[2021-01-07 08:40] SimoTod commented on #29
there's a `turbo:submit-end` that we might be able to use

[2021-01-07 11:26] nyrf commented on #29
Thanks, you're right, i'll try again later.

[2021-01-07 11:34] SimoTod commented on #29
if the code use turbo frames, it replaces the content and triggers the alpine update.
The problem seems to be when you don't use a frame. In that case, it doesn't seem to replace the content with the response but it just re-renders the old age but it doesn't trigger a load event.
To be fair, it seems like a turbo bug, if the page is replaced, it should trigger the load event at the end.

[2021-01-07 12:34] nyrf commented on #29
Thanks for your reply, yes, the `turbo:load` won't be triggered, i will use turbo frame to submit form until there is a PR.

[2021-02-27 14:47] SimoTod commented on #28
Closing due to inactivity. I'm not able to reproduce. Feel free to reopen it if you have a consistent way to reproduce the issue.

[2021-02-27 14:47] #28 closed

[2021-02-27 14:49] SimoTod commented on #2
Closing for now. The unexpected side effects are far worse than the benefits.

[2021-02-27 14:49] #2 closed

[2021-02-28 01:37] heyfadii commented on #9
The merge #13  breaks the responsive `x-cloak` functionality. As I see it, the` x-cloak="mobile"` would be replaced by` x-cloak=""`. Is there a way to opt out on this and write my own custom solution?

[2021-02-28 03:50] SimoTod commented on #9
Thanks @heyfadii, can you send me an example please? X-cloak is a boolean attribute and it does not support the syntax you posted if i remember correctly so you cannot decide to apply it conditionally based on a value.

[2021-02-28 10:52] heyfadii commented on #9
Sure. What I want to do is hide something conditionally, depending on the resolution. I found this example: https://dev.to/hus_hmd/alpine-js-responsive-x-cloak-3blp

[2021-02-28 11:53] SimoTod commented on #9
Gotcha. Yeah, it's not the traditional use of x-cloak but i can support it, no problem. It will likely be tonight or tomorrow.

[2021-03-01 11:01] SimoTod commented on #9
@heyfadii Can you confirm that https://cdn.jsdelivr.net/gh/simotod/alpine-turbolinks-adapter@feature/x-cloak-value/dist/alpine-turbo-drive-adapter.min.js does what you need? Thanks.

[2021-03-05 14:10] heyfadii commented on #9
@SimoTod Sorry for the delay. Yes works! when can this be expected to be merged? Thank you for being lightning fast!

[2021-03-05 15:23] SimoTod commented on #9
@heyfadii tonight/tomorrow.

[2021-03-09 07:45] timohermans opened #31 "JS file always runs after the turbo:load event, causing x-data to throw a ReferenceError on first navigation"
So when I'm trying to move from page A to page B with Turbo (7-beta4) drive, the alpine x-data function that is in a separate js file is always executed *after* the `initCallback` of this package, causing a ReferenceError. I'm not sure if it has anything with the following setup:

Both page A and B have a `site.js` (it's in the layout file) script that contains the following:

[code]

Page A has s

[2021-03-09 08:39] SimoTod commented on #31
Hi @timohermans
I would expect it to work. I'll try to replicate your setup and see if I can figure out what's going on.

Just to clarify, you have something like

site.js
[code]

a.html
[code]

b.html
[code]

Is that correct?

[2021-03-09 08:59] timohermans commented on #31
Thanks for the quick reply! Not quite right. Let me see if I can edit your example:

site.js

[code]

a.html

[code]

custom.js

[code]

b.html

[code]

[2021-03-09 12:57] SimoTod commented on #31
@timohermans I think it's a bug in turbo or at least an unexpected behaviour in turbo, unless I misunderstood their events.
In turbolinks, the load event fires after the page content is swapped (and i believe after any additional scripts are loaded) so your custom script will be there but in turbo, the load event fires on the new HTML but before the dom is replaced in the browser so your custom sc

[2021-03-09 15:41] timohermans commented on #31
I think you are absolutely right. I still had the MPA mindset to separate all the JS per page. But with using turbo the border between MPA and SPA is fading and I guess it makes sense to put this all in one bundle, even though payload would become bigger and bigger per page load :(.

so possible solutions are:
- Use inline javascript in a script tag in the HTML
- Put all AlpineJS logic in one bund

[2021-03-09 17:42] SimoTod commented on #31
I'm looking into it. I tried to delay the Alpine callback and I wrote a test to replicate the issue, it passes locally but it fails on github. I assume the turbo:load event fires independently from the page assets so there's no easy way to check when the new javascript has been downloaded, maybe I'll ask the turbo guys. I'll keep you posted.

[2021-03-10 09:32] KostasKostogloy commented on #29
@SimoTod `turbo:submit-end` doesn't seem to do the trick. I fixed it on my project by initializing alpine components on `turbo:render`.

`turbo:render` can trigger twice (when you visit a cached page) so it's not optimal, but I can't see a way around it 🤷‍♂️

If we use `turbo:render` listener, we can remove the one on `turbo:load`. Otherwise we would be initializing alpine components 2-3 times on

[2021-03-10 10:28] SimoTod commented on #29
Thanks for your feedback. I need to think about that before switching to turbo:render.

4 works but it's based on the assumption that an internal behaviour of Turbo won't ever change (I don't think they state anywhere that a 422 refreshed the page) so maybe keep an eye on it until they tag the first stable release.

[2021-04-23 07:03] phoozle opened #32 "Turbo stream - not initialising"
On a fresh page load (no Turbo drive) my Alpine components initialise fine when loaded in via a turbo-stream.

However if I navigate away to a different page via Turbo Drive and revisit the original page, the same Alpine components delivered via the turbo-stream no longer get initialised.

I have in the meantime come up with the following workaround using a Stimulus controller:
[code]

[code]

[2021-04-24 16:49] SimoTod commented on #32
Thanks @phoozle
The current version is a porting from the old turbolinks so turbo-stream, being a new feature, is not supported yet.
I'm happy to accept a PR if you are willing to contribute otherwise I can look into it next week.

[2021-04-26 20:36] SimoTod commented on #32
Hi @phoozle
I tried a simple example with a form and an HTTP response returning a turbo stream snippet containing an Alpine component and it seems to work correctly. Can you give me an example where it does not work? Thanks

[2021-04-26 21:37] SimoTod commented on #32
@phoozle would you mind testing https://cdn.jsdelivr.net/gh/SimoTod/alpine-turbo-drive-adapter@bug/turbo-stream/dist/alpine-turbo-drive-adapter.min.js and let me know if it fixes the bug you reported? Thanks

[2021-04-27 11:53] SimoTod commented on #29
Better late than never. @nyrf @KostasKostogloy or anyone else following the bug report.
Could you test https://cdn.jsdelivr.net/gh/SimoTod/alpine-turbo-drive-adapter@bug/422-responses/dist/alpine-turbo-drive-adapter.min.js and let me know if it resolves your issues, please?
I decided not to use load because in some edge cases calling Alpine on the cached version would introduce some small bugs so

[2021-04-27 16:31] KostasKostogloy commented on #29
@SimoTod thanks for your hard work 🙇‍♂️

I am going to test this in the next few days and get back to you.

[2021-04-28 01:49] nyrf commented on #29
@SimoTod  Great, thanks. I've tested and it works.

[2021-04-28 18:52] SimoTod commented on #29
Thanks for confirming @nyrf

[2021-04-28 18:52] #29 closed

[2021-04-29 19:38] rickclare commented on #29
Thanks for the fix @SimoTod.  I've installed v1.0.3 of alpine-turbo-drive-adapter and performed some initial testing myself - the problems we were having around this issue look to be fixed in Firefox (v88) and Chrome (v90).

However, for me at least, the problem still seems to exist in Safari (Safari v14.1, MacOS Big Sur 11.3).  Is anyone experiencing this issue in _Safari only_?

(Note that the w

[2021-04-29 19:51] SimoTod commented on #29
The problem with using render is that it might break the page in other edge cases introducing flickerings, etc. I'll check safari tomorrow.

[2021-04-29 20:58] SimoTod commented on #29
@rickclare It took less than expected. I was able to replicate it in Safari.
1.0.4 should fix the issue. Thanks for reporting it.

[2021-04-29 21:04] rickclare commented on #29
@SimoTod that's great, thank you for jumping on the fix so quickly. I'll do some more testing tomorrow to double check v1.0.4 in the browsers that I have access to (everything popular apart from MS Edge)

Thanks again.

[2021-04-30 08:48] rickclare commented on #29
Hi @SimoTod I've performed some more testing with **v1.0.4**
Unfortunately I'm still experiencing the issue in Safari (no problems in Firefox or Chrome)

If it helps with diagnosis - my scenario is a simple user-registration page (run-of-the-mill Ruby-on-Rails MVC), which has a the following tiny piece of Alpine markup on it.

[code]

Before submitting the registration form, the `<div>` hides itse

[2021-04-30 09:25] SimoTod commented on #29
@rickclare I'm not a rail developer so I would need the response from the form submission if you can kindly send it over (The example I built in php is working okay in safari)

You can get it from safari > right click > inspect element (you need to enable it in preferences if you haven't yet) > network tab > your request. I need the content of both the preview tab and headers tab.

Thanks

[2021-04-30 09:38] rickclare commented on #29
@SimoTod No problem, here is the response from Safari's Network tab:

Headers:

[code]

Preview:

[code]

[2021-04-30 10:33] rickclare commented on #29
@SimoTod Actually, ignore the above.  I was seeing a syntax error when testing v1.0.4 in Microsoft Edge for the following line, which lead me down a rabbit hole!  Perhaps it's my build system that's incorrect?

[code]

[2021-04-30 10:45] SimoTod commented on #29
I believe edge doesn't support `??` so it needs to be transpiled properly. The cdn version should already be compatible with ms edge and possibly ie11

[2021-04-30 20:26] rickclare commented on #29
@SimoTod thank you for your perseverance with this. I'll find some time tomorrow to test out the new version and report back. Have a great weekend.

[2021-04-30 20:29] SimoTod commented on #29
It will likely be Sunday. I decided to run a few more tests for both features first. 👍

[2021-05-02 21:18] #32 closed

[2021-05-02 21:24] SimoTod commented on #29
Unfortunately, the Safari was still happening (some times was working and sometimes wasn't). I believe something to do with the submit-end event being triggered on the document before the page update and Safari ignoring the delayed callback once the DOM was updated.
I gave up and switched to turbo:render :)
I found out that Turbo adds a data-turbo-preview attribute when rendering the preview from

[2021-05-02 21:27] SimoTod commented on #32
Fixed in v1.1.0

[2021-05-03 07:42] rickclare commented on #29
@SimoTod I've retested with scenario where I had the original issue, using **v1.1.0** and the problem is no longer there (i.e. my Alpine markup is working perfectly after submitting a form that returns a 422 response)

I successfully tested with the following browsers:

✅ Safari v14.1 (MacOS)
✅ Google Chrome v90.0 (MacOS)
✅ Firefox v88.0 (MacOS)
✅ iOS Safari v14.1 (on iPhone iOS 14.5)
✅ MS Edge v9

[2021-05-04 03:25] zodman opened #36 "after fired turbo:render x-data not exists"
Hi guys, thanks for the connector, but a found a little issue:

I had this form:
![image](https://user-images.githubusercontent.com/44167/116957532-ac71b080-ac5d-11eb-99bf-e8aad22a06a6.png)
as you can see the alpinejs works at the beginning. when the form submitted is succeed turbo reload the complete page.

![image](https://user-images.githubusercontent.com/44167/116957321-3d945780-ac5d-11eb-8a0d

[2021-05-04 06:16] SimoTod commented on #36
@zodman Could you let me know if it was working with 1.0.4, please?
I recently switched to turbo:render from turbo:load to address some issues when forms returns a 423 response and I just want to make sure it's not a regression.
If you can also post a minimal example to reproduce (it's time consuming and error prone to copy the html from a gif), it would help a lot

[2021-05-04 14:02] zodman commented on #36
yes `  "alpine-turbo-drive-adapter": "^1.0.4",`

[2021-05-04 16:21] SimoTod commented on #36
@zodman Mmh, so it was working correctly with 1.0.4. Interesting.
I just need the HTML of the page (possibly only the relevant bits) in a comment here, otherwise it's a bit of a nightmare to get it from the gif you posted.

[2021-05-05 08:48] SimoTod commented on #36
So... the issue is because you use a turbo-frame with an src attribute which is loaded after turbo triggered `turbo:render` and even `turbo:load`. 1.0.4 was briefly working as a side effect of a different fix because I had put an additional refresh 2 frames after any form was submitted but that, for instance, wouldn't work with normal links triggering a turbo-frame update.
Unfortunately, it doesn'

[2021-05-07 20:48] zodman commented on #36
@SimoTod  do you have the link of the way to do it with stimulus ?

[2021-05-09 19:53] SimoTod commented on #36
I don't have a link, unfortunately. I saw someone suggesting it on a turbo bug. I'm going to work on a solution but it will likely to be end of next week.

[2021-05-10 16:48] zodman commented on #36
@SimoTod what about a timeout function for fired before the turbo:render finish

[2021-05-10 17:23] SimoTod commented on #36
I'd rather avoid time based behaviors because they feel hacky, they are hard to test and they are even harder to debug when you have an issue. For example, a lazy loaded turbo frame is an http request so, on slow connection, it might take longer then the arbitrary timeout we pick. I'll implement something based on mutation observers.

[2021-05-14 21:07] tonysm opened #37 "Currently Breaks with Alpine.js & Livewire"
Hey, all.

I'm having some issues while running this adapter together with Alpine and Livewire (on Jetstream). It was working fine, but something changed (not sure where) and I'm getting the error below when using the Adapter:

<details>
<summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/1178621/118331366-ec972580-b4de-11eb-8317-ef79babc14dd.png)

</details>

Interes

[2021-05-14 21:15] SimoTod commented on #37
Hi @tonysm ,i need to have a look. $wire is a property defined in livewire and injected in Alpine at runtime but it's not part of the core and I have never tried the adapter with Livewire. I'll keep you posted

[2021-05-18 20:21] SimoTod commented on #36
Hi @zodman could you test https://cdn.jsdelivr.net/gh/simotod/alpine-turbo-drive-adapter@feature/turbo-frame-support/dist/alpine-turbo-drive-adapter.min.js and let me know if it fixes your issue? Thanks

[2021-05-19 20:51] SimoTod commented on #37
Hi @tonysm

unfortunately, I wasn't able to replicate the issue. I tried with a vanilla installation, then I've also tried your app (after re-adding the adapter) and I couldn't see the error. Can you send me some instructions to replicate please?

[2021-05-23 17:15] tonysm commented on #37
Uhm, weird. Trying it one more time over here. Will also give it a try on a new install.

[2021-05-23 17:19] tonysm commented on #37
Uhm. It happens when opening the Jetstream pages (team settings, profile).

[2021-05-23 17:58] SimoTod commented on #37
Cool, I'll give it a go. Does it happen when I visit the page or do I have to click something specific?

[2021-05-23 18:29] tonysm commented on #37
uhm, interesting. The last version that works for me is `1.0.1`. The other ones fail because of the arrow function being used in the `[x-cloak]` handling. And after that the 1.1.0 fails [here](https://github.com/SimoTod/alpine-turbo-drive-adapter/blob/master/src/bridge.js#L31).

[2021-05-23 18:30] tonysm commented on #37
@SimoTod it happens when you go from one page to one of the Jetstream pages, not if you refresh straight on that page.

[2021-05-23 21:33] tonysm commented on #37
OK, so I think the issue has to do with Livewire's _entangle_ and Turbo.

![image](https://user-images.githubusercontent.com/1178621/119276927-2826a380-bbf3-11eb-838d-1c2a2b6a1a0d.png)

Based on what I tried here, when you use _entangle_, the component gets evaluated to `window.Livewire.find({COMPONENT_ID}).entangle()` and that does not seem to work nicely with Turbo.

Laravel Jetstream's modal us

[2021-05-24 07:16] SimoTod commented on #37
Thanks @tonysm
I switched from turbo:load to turbo:render because of https://github.com/SimoTod/alpine-turbo-drive-adapter/issues/29
A few people needed it (I wasn't too sure because I was a bit worried something else would break and... Here we are, hahha). I assume turno:render runs too early and the browser hasn't run the livewire javascript yet (which injects the $wire helper in alpine) since i

[2021-05-24 08:11] phoozle commented on #32
Sorry @SimoTod somehow missed your message. This solved my issues! You're a legend

[2021-05-25 02:25] binaryweavers commented on #37
I am not even using `alpine-turbo-drive-adapter` package in a `livewire` app with `turbo` and I am getting the same error. So It has to do something with `livewire` and `turbo`.
`@entangle` is a `laravel blade` wrapper around `$wire` which gets injected by `livewire` into `alpine` component

[2021-06-01 00:51] tonysm commented on #37
I've tried this on a fresh Laravel install with Jetstream. Without the adapter navigating to a page that uses entangle works. It only breaks after adding the Alpine adapter.

@SimoTod so the issue you mentioned that made you change from `turbo:load` to `turbo:render` was because elements using alpine could be returned from a non-422 response and those were not working?

[2021-06-01 01:21] tonysm commented on #37
@SimoTod yep, I changed the `turbo:render` to `turbo:load` in the bundled JS file and the entangle just works. That seems to be the issue.

It sounds like an upstream bug in Turbo.js, no? As I see it, it should dispatch the `turbo:load` when it receives a 422 response with an HTML body. Otherwise it will replace the page, but no event will be dispatched. I'm trying to see if I can reproduce it the

[2021-06-03 00:46] tonysm commented on #37
I've created an issue in the Turbo.js repository (see the last reference above). After reading the issue again, I have a "workaround" in mind. We could _hook_ into the Blade parsing and append a Stimulus controller to elements that have `x-data` or `x-init` on them, this Stimulus controller would boot alpine on that element.

Would require using Stimulus, though. 😢

[2021-06-19 00:47] allmarkedup opened #40 "Alpine v3 compatability"
Hey - this adapter is great (thank you!) but I'm just playing around with a project that is using Alpine v3.x and as far as I can tell they do not play nicely together.

Are you planning on creating a v3-compatible version at any point? Do you think it's even possible with changes to the Alpine API (i.e. `Alpine.discoverUninitializedComponents` etc seems to not exist anymore)?

If you are not plan

[2021-06-19 04:34] SimoTod commented on #40
Hi, I'll eventually release a v3 compatibile version but i haven't looked into it yet. I think it's possible using either Alpine.start or Alpine.initTree (i think the latter has less side effects).

[2021-06-19 09:50] HugoDF commented on #40
In the meantime here's a basic support plugin for v3 Caleb shared, not sure it captures all edge cases etc

https://gist.github.com/calebporzio/20cf74af4a015644c7bef5166cffd86c

[2021-06-24 21:28] allmarkedup commented on #40
Thanks for the replies guys, and thanks @HugoDF for pointing me in the direction of that plugin. I've had a play with it and while everything works more or less, I get a lot of flashing across page loads of elements that are using `x-show` and whose visbility state is stored in localstorage. I need to get a reduced test case together to explore it more but it wasn't something I had an issue with u

[2021-07-30 05:17] AndreiMotinga commented on #40
do you guys have any idea how to implement this meanwhile?

I'd like to start building an app using alpine 3. seems like it is a bit nicer than v2.
But can't get it to work with turbo. Could somebody please help?

[2021-07-30 08:00] alexej-d commented on #40
This is what you need:
[code]

I also had to add an event listener to each root element inside a template for cleanup:
[code]

[2021-09-02 11:32] bep commented on #40
I have spent some time looking into this, and none of the snippets above works beyond the simplest setup. I have written some more about this here: https://github.com/alpinejs/alpine/pull/1995#issuecomment-911565806

[2021-09-10 13:59] khrome83 commented on #40
I really only need this to work for Turbolinks. I had no issues with the deprecated project.

[2021-09-11 23:34] Ahmed-Elrayes commented on #40
for some reason, this one doesn't work with me at all.

[2021-09-14 16:15] bep commented on #40
I have created a gist (which I will try to remember to update if I find something more clever) with my current best approach to this:

https://gist.github.com/bep/a9809f0cb119e44e8ddbe37dd1e58b50

Note that the above requires the patch in https://github.com/alpinejs/alpine/pull/1995 to work.

There is one limitation, I guess, in the above, which I don't care too much about: Components marked with

[2021-09-28 10:02] khrome83 commented on #40
So it seems like https://github.com/alpinejs/alpine/pull/2117 was added to Alpine v3 by Caleb, which should give us the ability to solve this issue.

See here - https://github.com/livewire/livewire/pull/3151#issuecomment-926020270

[2021-09-29 09:40] bep commented on #40
@khrome83 There are a couple of unresolved issues for Turbo in Alpine V3:

1. The solution in #2117 doesn't really work with Turbo beyond its simplest setup. The only working solution I have found is to use `Alpine.stopObservingMutations()` (not currently exported) and then `Alpine.start()`.
2. There are some [open memory leak issues](https://github.com/alpinejs/alpine/issues) that, depending on h

[2021-09-29 17:18] khrome83 commented on #40
understood @bep, it does not sound like he is willing to export `stopObservingMutations()`. And it sounds like the defer mutations is not what is needed then.

[2021-09-29 18:45] SimoTod commented on #40
I'm planning to have a look at v3 + Turbo next week. It's technically possible to stop the mutation observer already without that PR using a private API but it would be good if it wasn't needed because in v3 the mutation observer does other important things

[2021-10-08 19:56] bep commented on #40
That is not how I read it. Having AlpineJS work great with Turbo would be a big win for the project. But I do understand the hesitation of randomly exporting new functions from the internal API, which is why it's good to have it backed by some real data, which is why @SimoTod and others' work on this is so important/appreciated.

[2021-10-22 01:48] therealbenzene commented on #40
This works for my use cast

[2021-11-26 13:03] mikeychowy commented on #40
Hi @SimoTod any update on this? Or will this gist be the final answer for v3? I've been using this in my local environment since a month ago with no significant problems, but I'm still hesitant on introducing it to even staging environment because it's not even a release yet.

If you're having some delay because of your IRL job, that's understandable btw, since it's release season for a lot of com

[2021-11-26 17:26] SimoTod commented on #40
@mikeychowy it's safe to use as far as I know. I don't use turbo so I forgot about it. I'll tag a release over the weekend.

[2021-12-03 00:04] lobre commented on #36
Is this still an issue for you @zodman? The PR seems still on hold waiting for your feedback. Thanks.

[2021-12-16 03:31] tabishiqbal commented on #40
bump

[2021-12-16 09:02] SimoTod commented on #40
@tabishiqbal The tagged release is still for Alpine v2 (Alpine.discoverUninitializedComponents is v2)

[2021-12-18 22:58] matt-harvey commented on #40
@SimoTod Just wondering if you are planning to tag that v3 compatible release any time soon? Or are there remaining v3 compatibility issues on  the current main branch that you're aware of?

[2021-12-23 22:40] SimoTod commented on #40
There was just a minor regression with `x-cloak` when navigating back but it's now fixed. Tagged, better late than never. 😅

[2021-12-23 22:40] #40 closed

[2021-12-23 22:41] SimoTod commented on #37
Closing for now as I'm not planning to support v1. Please reopen if it's still an issue with v2 and Alpine 2

[2021-12-23 22:41] #37 closed

[2021-12-24 10:25] matt-harvey commented on #40
Ah OK, nice one, thanks @SimoTod 😄

[2021-12-24 15:18] SimoTod commented on #36
This seems to work how of the box with Alpine 3, can anyone confirm? (cc @lobre)

[2021-12-24 17:56] lobre commented on #36
I was just asking news before choosing turbo + alpine for a project (to be sure it was mature enough), so I was not exactly suffering from this problem.

Maybe @zodman can confirm? Otherwise, as you said it seems OK to me with the new version at least.

[2022-01-13 05:08] #36 closed